<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpr.ci317wifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" android:maxSdkVersion="21"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainWifi"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WifiInfo"
            android:label="@string/title_activity_wifi_info"
            android:theme="@android:style/Theme.Holo" />
        
        <activity
            android:name=".AvailableWifis"
            android:label="@string/title_activity_lists"
            android:theme="@android:style/Theme.Holo" />
        
        <activity 
            android:name=".KnownWifis"
            android:label="@string/title_activity_lists__save"
            android:theme="@android:style/Theme.Holo" />
        
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo" />
        
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:theme="@android:style/Theme.Holo" />
        <activity 
            android:name=".FragmentPreferences"
            android:theme="@android:style/Theme.Holo" />

        <service android:enabled="true" android:name=".WifiDiscoverService" />
    </application>

</manifest>
